
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.widgetmhd" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >

        <receiver android:name=".MhdWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/mhd_widget_info" />
        </receiver>


        <receiver
            android:name=".MhdWidgetIntentReceiver"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.mhd.intent.action.UPDATE_WIDGET" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/mhd_widget_info" />
        </receiver>


        <activity android:name=".MhdWidgetConfiguration" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@layout/activity_mhd_widget_configuration" />
        </activity>
    </application>

</manifest>

